CONTAINER_NAME=storage-postgres.{{instance.AppId}}.{{instance.Id}}
PG_LOG={{params.LogDir}}
PG_DATA={{params.DataDir}}
PG_CERTS={{params.CertificatesDir}}
PG_PORT={{params.PgPort}}
REGISTRY={{params.DockerRegistry}}
NETWORK={{params.Network}}
NETWORK_DRIVER={{params.NetworkDriver}}
COMPOSE_PROJECT_NAME={{instance.ComposeProjectName}}
COLLECTOR_AGENT_SYSLOG_UDP_ADDRESS={{params.CollectorAgentUdpAddress}}
DOCKER_GID={% if deployer is defined and deployer.DockerNsGid is defined %}{{deployer.DockerNsGid}}{% else %}9009{% endif %}
DOCKER_UID={% if deployer is defined and deployer.DockerNsUid is defined  %}{{deployer.DockerNsUid}}{% else %}9009{% endif %}
