PGADMIN_PORT={{params.PgAdminPort}}
CONTAINER_NAME=storage-pgadmin.{{instance.AppId}}.{{instance.Id}}
REGISTRY={{params.DockerRegistry}}
NETWORK={{params.Network}}
NETWORK_DRIVER={{params.NetworkDriver}}
COMPOSE_PROJECT_NAME={{instance.ComposeProjectName}}
DOCKER_GID={% if deployer is defined and deployer.DockerNsGid is defined %}{{deployer.DockerNsGid}}{% else %}9009{% endif %}
DOCKER_UID={% if deployer is defined and deployer.DockerNsUid is defined  %}{{deployer.DockerNsUid}}{% else %}9009{% endif %}
PGADMIN_SSL_CERT_FILE={{params.CertificatesDir}}/{{params.SSLCertificatePemFileName}}
PGADMIN_SSL_KEY_FILE={{params.CertificatesDir}}/{{params.SSLKeyFileName}}
