COLLECTOR_SERVER_ADDRESS={{params.CollectorServerAddress}}
COLLECTOR_METRICS_LABEL_APPLICATION_ID={{instance.AppId}}
COLLECTOR_METRICS_LABEL_INSTANCE_ID={{instance.Id}}
COLLECTOR_METRICS_LABEL_HOST={{params.HostAddress}}
COLLECTOR_LOG_LEVEL={{params.CollectorLogLevel|default('info')}}
COLLECTOR_AGENT_EXTERNAL_PORT={{params.CollectorAgentHttpPort}}
COLLECTOR_CA_FILENAME={{params.CACertificateFileName}}
COLLECTOR_CERT_FILENAME={{params.SSLCertificatePemFileName}}
COLLECTOR_KEY_FILENAME={{params.SSLKeyFileName}}
COLLECTOR_POSTGRESQL_HOST={{params.HostAddress}}
COLLECTOR_POSTGRESQL_PORT={{params.PgPort}}
COLLECTOR_POSTGRESQL_USERNAME='{{params.PgUser}}'
COLLECTOR_POSTGRESQL_PASSWORD='{{params.PgPassword}}'
COLLECTOR_AGENT_SYSLOG_UDP_PORT={{params.CollectorAgentSyslogUdpPort}}
COLLECTOR_AGENT_SYSLOG_TCP_PORT={{params.CollectorAgentSyslogTcpPort}}
TZ={{params.TimeZone}}