CONTAINER_NAME={{params.CollectorAgentContainerName}}
REGISTRY={{params.DockerRegistry}}
BACKEND_NETWORK={{params.Network}}
BACKEND_NETWORK_DRIVER={{params.NetworkDriver}}
DATA_PATH={{params.DataDir}}
LOG_PATH={{params.LogDir}}
SSL_CERT_PATH={{params.CertificatesDir}}
COLLECTOR_AGENT_SYSLOG_UDP_PORT={{params.CollectorAgentSyslogUdpPort}}
COLLECTOR_AGENT_SYSLOG_TCP_PORT={{params.CollectorAgentSyslogTcpPort}}
DOCKER_GID={% if deployer is defined and deployer.DockerNsGid is defined %}{{deployer.DockerNsGid}}{% else %}9009{% endif %}
DOCKER_UID={% if deployer is defined and deployer.DockerNsUid is defined  %}{{deployer.DockerNsUid}}{% else %}9009{% endif %}
COMPOSE_PROJECT_NAME={{instance.ComposeProjectName}}
